{% extends 'base.html' %}

{% block content %}
  <h2 style = "color: #00274C;border-bottom: 2px solid #FFCB05;display: inline-block;margin-top: auto;">Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn">Sign up</button>
  </form>
{% endblock %}
