{% extends 'base.html' %}

{% block content %}
  <h2 style = "color: #00274C;border-bottom: 2px solid #FFCB05;display: inline-block;">Sign In</h2>
  
  <!-- Display error messages in red -->
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="error-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Login!</button>
  </form>
{% endblock %}
