{% load static %}

{% block styles %}
<style>
    .big_img {
        max-width: 100%;
        max-height: 100vh;
        height: auto;
    }
</style>
{% endblock %}    
<div>
    <footer>
        <div id="footer" class="text-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <img class = "big_img" src="{% static "images/big_logo.jpg" %}" class="logo" alt="UM Logo">
                        <p>Copyright UMM 50.008 Database. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<button id="backToTopBtn" title="Go to top"><img src="{% static "images/top.png" %}" style="height: 50px; width: 50px"></button>
