{% load static %}
<div>
    <footer>
        <div id="footer" class="text-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <p>Copyright UMM 50.008 Database. All Rights Reserved.</p>
                        <img src="{% static "images/um-logo.png" %}" class="logo" alt="UM Logo">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<button id="backToTopBtn" title="Go to top"><img src="{% static "images/top.png" %}" style="height: 50px; width: 50px"></button>
